In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("population.csv")

In [7]:
print(df)

   Rank        City  Population 2020  Population 2021  Difference
0     1     Karachi            16.09            16.46        0.37
1     2      Lahore            12.64            13.10        0.45
2     3  Faisalabad             3.46             3.54        0.08
3     4  Gujranwala             2.23             2.29        0.06
4     5  Rawalpindi             2.24             2.28        0.00

In [9]:
df.City

0       Karachi
1        Lahore
2    Faisalabad
3    Gujranwala
4    Rawalpindi
Name: City, dtype: object

In [14]:
df['Population 2020']

0    16.09
1    12.64
2     3.46
3     2.23
4     2.24
Name: Population 2020, dtype: float64

In [15]:
df2 = df.copy(index = false)

NameError: name 'false' is not defined

In [16]:
df = df.reset_index(drop=True)

In [17]:
df

   Rank        City  Population 2020  Population 2021  Difference
0     1     Karachi            16.09            16.46        0.37
1     2      Lahore            12.64            13.10        0.45
2     3  Faisalabad             3.46             3.54        0.08
3     4  Gujranwala             2.23             2.29        0.06
4     5  Rawalpindi             2.24             2.28        0.00

In [19]:
city = df['City'].to_list()
pop_2020 = df['Population 2020'].to_list()

In [20]:
city

['Karachi', 'Lahore', 'Faisalabad', 'Gujranwala', 'Rawalpindi']

In [21]:
pop_2020

[16.09, 12.64, 3.46, 2.23, 2.24]